<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ApiURL" value="https://zmgwardhowell.vincere.io/api/v2/" />
    <add key="TenantId" value="zmgwardhowell.vincere.io" />
    <add key="ApiKEY" value="7210a62c-f3b4-42ff-a3d4-4be67c62fc5a" />
    <add key="ResultField" value="fl=id,first_name, last_name, created_date, last_update; sort= created_date desc" />
    <add key="ResultCompanyField" value="fl=id, name, location, created_date, last_update" />
    
    <add key="GetCandidateEndpoint" value="candidate/" />
    <add key="GetJobEndpoint" value="position/" />
    <add key="GetCompanyEndpoint" value="company/" />
    <add key="GetPlacementEndpoint" value="placement/" />
    <add key="GetInvoiceEndpoint" value="invoice/" />
  
    <add key="SearchCandidateEndpoint" value="search/" />
    <add key="SearchJobEndpoint" value="search/" />
    <add key="SearchCompanyEndpoint" value="search/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="VincereDBEntities" 
         connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;                                           
                            provider=System.Data.SqlClient;
                            provider connection string=&quot; 
                              data source=192.168.20.23; 
                              initial catalog=VincereDB; 
                              persist security info=True; 
                              user id=VincereUser; 
                              password=password; 
                              MultipleActiveResultSets=True; 
                              App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>